@media screen and (min-width:360px) and (max-width:1300px) {
    #logo img {
       display: none;
    }
    nav{
        @include flex-column;
        font-family: "kiona";
        justify-content: space-evenly;
        
        font-size: large;
    }
    
    .enlace {
        width: 5.5em;
        height: 3em;
        text-align: center;
        margin-top: 3%;

        a{ 
            color: black;
            text-decoration: none;
            &:active{
                background-color: grey;
                text-decoration: none;
            }
            &:visited{
                color: black;
                text-decoration: none;
            }
        }
    }
    span {
        text-justify: center;
    }
    
    
}


@media screen and (min-width:1300px) {
    nav{
        @include flex-row;
        font-family: "kiona";
        justify-content: space-evenly;
        align-content: center;
        align-items: center;
        font-size: large;
    }
    
    .enlace {
        width: 5.5em;
        height: 3em;
        text-align: center;
        
        a{ 
            color: black;
            text-decoration: none;
            &:active{
                background-color: grey;
                text-decoration: none;
            }
            &:visited{
                color: black;
                text-decoration: none;
            }
        }
    }
    span {
        text-justify: center;
    }
    #logo img {
        width: 8em;
        height: 8em;
    }
    
}
