@mixin flex-row{
    display:flex;
    flex-direction: row;
    
}
@mixin flex-column{
    display: flex;
    flex-direction: column;
}
@mixin margins{
    margin-top: 5%;
    margin-bottom: 5%;
}
@mixin button-hover($color){
    
    background-color: $color;    
    transition: background-color 0.1s ease-in-out;
}