@font-face {
  font-family: "gsans";
  src: url(../../fonts/GeosansLight.ttf);
}
@font-face {
  font-family: "kiona";
  src: url(../../fonts/Kiona-Regular.ttf);
}
@font-face {
  font-family: "quicksand";
  src: url(../../fonts/Quicksand_Book.otf);
}
@media screen and (min-width: 360px) and (max-width: 1300px) {
  body {
    display: grid;
    grid-template-areas: "header header header" "main main main" "footer footer footer";
    grid-template-rows: 10% 80% 10%;
  }

  main {
    grid-area: main;
    display: grid;
    grid-template-areas: "top top top top top" "center center center center center" "bottom bottom bottom bottom bottom";
    grid-template-columns: repeat(5, 20%);
  }
}
@media screen and (min-width: 1300px) {
  body {
    display: grid;
    grid-template-areas: "header header header" "main main main" "footer footer footer";
    grid-template-rows: 10% 80% 10%;
  }

  main {
    grid-area: main;
    display: grid;
    grid-template-areas: ". top top top ." "center center center center center " ". bottom bottom bottom . ";
    grid-template-columns: repeat(5, 20%);
  }
}
header {
  grid-area: header;
}

footer {
  grid-area: footer;
}

#top {
  grid-area: top;
}

#mid {
  grid-area: center;
}

#support {
  grid-area: bottom;
}

#fTop {
  grid-area: fTop;
}

#fBot {
  grid-area: fBot;
}

@media screen and (min-width: 360px) and (max-width: 1300px) {
  #logo img {
    display: none;
  }

  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-family: "kiona";
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    font-size: large;
  }

  .enlace {
    width: 5.5em;
    height: 3em;
    text-align: center;
    margin-top: 3%;
  }
  .enlace a {
    color: black;
    text-decoration: none;
  }
  .enlace a:active {
    background-color: grey;
    text-decoration: none;
  }
  .enlace a:visited {
    color: black;
    text-decoration: none;
  }

  span {
    text-justify: center;
  }
}
@media screen and (min-width: 1300px) {
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    font-family: "kiona";
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: large;
  }

  .enlace {
    width: 5.5em;
    height: 3em;
    text-align: center;
  }
  .enlace a {
    color: black;
    text-decoration: none;
  }
  .enlace a:active {
    background-color: grey;
    text-decoration: none;
  }
  .enlace a:visited {
    color: black;
    text-decoration: none;
  }

  span {
    text-justify: center;
  }

  #logo img {
    width: 8em;
    height: 8em;
  }
}
@media screen and (min-width: 360px) and (max-width: 1300px) {
  #top {
    border-radius: 2%;
    background-color: #e7684d;
    height: 50vh;
    width: 90%;
    justify-self: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #top div {
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  #top div h2 {
    color: black;
    font-family: "kiona";
    font-size: 1.5em;
    text-align: center;
  }
  #top div p {
    width: 100%;
    font-family: "quicksand";
    font-size: larger;
    text-align: center;
  }
  #top button {
    border: none;
    -ms-flex-item-align: center;
        align-self: center;
    width: 50%;
    height: 20%;
    border-radius: 10%;
    font-family: "gsans";
    font-size: large;
    background-color: #1897b2;
  }

  #mid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 5%;
    margin-bottom: 5%;
    height: 50vh;
    width: 100%;
  }
  #mid #bienvenidos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    border-radius: 3%;
    background-color: #ea7b63;
    width: 90%;
  }
  #mid #bienvenidos h1 {
    font-family: "gsans";
    text-align: center;
  }
  #mid #bienvenidos div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #mid #bienvenidos div p {
    width: 80%;
    text-align: center;
    font-family: "quicksand";
    font-size: medium;
  }
  #mid #bienvenidos div button {
    border-radius: 10%;
    font-family: "gsans";
    font-size: x-large;
    background-color: #1897b2;
    width: 30%;
    border: none;
  }
  #mid .carousel {
    display: none;
  }

  #destacados {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .producto {
    background-color: #1897b2;
    border: solid 1px black;
    border-radius: 3%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-preferred-size: 33%;
        flex-basis: 33%;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .producto figure {
    -ms-flex-item-align: center;
        align-self: center;
    width: 90%;
    height: 60%;
  }
  .producto figure img {
    margin-top: 10%;
    width: 100%;
    height: 60%;
  }
  .producto figure figcaption {
    font-size: x-large;
    text-align: center;
  }
  .producto button {
    border: none;
    margin-top: 5%;
    -ms-flex-item-align: center;
        align-self: center;
    width: 50%;
    height: 20%;
    border-radius: 10%;
    font-family: "gsans";
    font-size: large;
  }
  .producto button:hover {
    background-color: #e7684d;
    -webkit-transition: background-color 0.1s ease-in-out;
    transition: background-color 0.1s ease-in-out;
  }

  section > h2 {
    border-bottom: dotted 0.1em black;
  }

  #support {
    justify-self: center;
    width: 90%;
    font-family: "kiona";
    margin-top: 5%;
    margin-bottom: 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (min-width: 1300px) {
  #top {
    border: solid black 1px;
    background-image: url("../../img/fondopatatas.jpg");
    background-size: 100% 150px;
    color: white;
    margin-top: 5%;
    margin-bottom: 5%;
    height: 50vh;
    background-size: cover;
  }
  #top div {
    margin-left: 5%;
    margin-top: 5%;
  }
  #top div h2 {
    color: black;
    font-family: "kiona";
    font-size: x-large;
  }
  #top div p {
    width: 20%;
    font-family: "quicksand";
    font-size: larger;
  }
  #top button {
    border: none;
    margin-left: 5%;
    -ms-flex-item-align: center;
        align-self: center;
    border-radius: 10%;
    font-family: "gsans";
    font-size: large;
    background-color: #1897b2;
    width: 10%;
    height: 10%;
  }
  #top button:hover {
    background-color: #e7684d;
    -webkit-transition: background-color 0.1s ease-in-out;
    transition: background-color 0.1s ease-in-out;
  }

  #mid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 5%;
    margin-bottom: 5%;
    background-repeat: no-repeat;
  }
  #mid #bienvenidos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    border-radius: 3%;
    margin-left: 10%;
    background-color: #ea7b63;
    width: 30vw;
    height: 100%;
  }
  #mid #bienvenidos h1 {
    font-family: "gsans";
    text-align: center;
  }
  #mid #bienvenidos div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #mid #bienvenidos div p {
    width: 80%;
    text-align: center;
    font-family: "quicksand";
    font-size: large;
  }
  #mid #bienvenidos div button {
    border-radius: 10%;
    font-family: "gsans";
    font-size: x-large;
    background-color: #1897b2;
    width: 30%;
    border: none;
  }
  #mid #bienvenidos div button:hover {
    background-color: whitesmoke;
    -webkit-transition: background-color 0.1s ease-in-out;
    transition: background-color 0.1s ease-in-out;
  }

  #carouselExampleControls {
    margin-right: 10%;
  }
  #carouselExampleControls .carousel-item img {
    width: 50%;
    height: 50%;
  }

  #destacados {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .producto {
    background-color: #1897b2;
    border: solid 1px black;
    border-radius: 3%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-preferred-size: 33%;
        flex-basis: 33%;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .producto figure {
    -ms-flex-item-align: center;
        align-self: center;
    width: 70%;
    height: 60%;
  }
  .producto figure img {
    margin-top: 10%;
    width: 12vw;
    height: 50%;
  }
  .producto figure figcaption {
    font-size: x-large;
    text-align: center;
  }
  .producto button {
    border: none;
    -ms-flex-item-align: center;
        align-self: center;
    width: 50%;
    height: 20%;
    border-radius: 10%;
    font-family: "gsans";
    font-size: large;
  }
  .producto button:hover {
    background-color: #e7684d;
    -webkit-transition: background-color 0.1s ease-in-out;
    transition: background-color 0.1s ease-in-out;
  }

  section > h2 {
    border-bottom: dotted 0.1em black;
  }

  #support {
    font-family: "kiona";
    margin-top: 5%;
    margin-bottom: 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
form {
  margin: 20%;
}

@media screen and (min-width: 360px) and (max-width: 1300px) {
  footer {
    margin-top: 3%;
  }
  footer #fTop {
    display: none;
  }
  footer #fBot {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #e55d40;
  }
}
@media screen and (min-width: 1300px) {
  footer {
    margin-top: 3%;
  }
  footer #fTop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    text-align: left;
    background-color: #e7684d;
  }
  footer #fBot {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #e55d40;
  }
}/*# sourceMappingURL=styles.css.map */