@font-face {
    font-family: 'gsans';
    src: url(../fonts/GeosansLight.ttf);
}

@font-face {
    font-family: 'kiona';
    src: url(../fonts/Kiona-Regular.ttf);
}

@font-face {
    font-family: 'quicksand';
    src: url(../fonts/Quicksand_Book.otf);
}