body {
    display: grid;
    grid-template-areas: 'header header header'
        'main main main'
        'footer footer footer';
    grid-template-rows: 10% 80% 10%;
    
}
main {
    grid-area: main;
    display: grid;
    
   
    grid-template-areas: '. top top top .'
        'center center center center center '
        '. bottom bottom bottom . ';
    
    grid-template-columns: repeat(5, 20%);
   
}
header {
    grid-area: header;
}
footer {
    grid-area: footer;
}
#top{
    grid-area: top;
}
#mid {
    grid-area: center;
}
#support{
    grid-area: bottom;
}
#fTop {
    grid-area: fTop;
}
#fBot {
    grid-area: fBot;
}