@font-face {
  font-family: "gsans";
  src: url(../fonts/GeosansLight.ttf);
}
@font-face {
  font-family: "kiona";
  src: url(../fonts/Kiona-Regular.ttf);
}
@font-face {
  font-family: "quicksand";
  src: url(../fonts/Quicksand_Book.otf);
}
body {
  display: grid;
  grid-template-areas: "header header header" "main main main" "footer footer footer";
  grid-template-rows: 10% 80% 10%;
}

main {
  grid-area: main;
  display: grid;
  grid-template-areas: ". top top top ." "center center center center center " ". bottom bottom bottom . ";
  grid-template-columns: repeat(5, 20%);
}

header {
  grid-area: header;
}

footer {
  grid-area: footer;
}

#top {
  grid-area: top;
}

#mid {
  grid-area: center;
}

#support {
  grid-area: bottom;
}

#fTop {
  grid-area: fTop;
}

#fBot {
  grid-area: fBot;
}

nav {
  display: flex;
  flex-direction: row;
  font-family: "kiona";
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
  font-size: large;
}

.enlace {
  width: 5.5em;
  height: 3em;
  text-align: center;
}
.enlace a {
  color: black;
  text-decoration: none;
}
.enlace a:active {
  background-color: grey;
  text-decoration: none;
}
.enlace a:visited {
  color: black;
  text-decoration: none;
}

span {
  text-justify: center;
}

#logo img {
  width: 8em;
  height: 8em;
}

#top {
  border: solid black 1px;
  background-image: url("../img/fondopatatas.jpg");
  background-size: 100% 150px;
  color: white;
  margin-top: 15%;
  margin-bottom: 15%;
  height: 50vh;
  background-size: cover;
}
#top div {
  margin-left: 5%;
  margin-top: 5%;
}
#top div h2 {
  color: black;
  font-family: "kiona";
  font-size: x-large;
}
#top div p {
  width: 20%;
  font-family: "quicksand";
  font-size: larger;
}
#top button {
  margin-left: 5%;
  align-self: center;
  border-radius: 10%;
  font-family: "gsans";
  font-size: large;
  background-color: #1897b2;
  width: 10%;
  height: 10%;
}

#mid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 15%;
  margin-bottom: 15%;
  background-repeat: no-repeat;
}
#mid #bienvenidos {
  margin-left: 10%;
  background-color: #ea7b63;
  width: 30vw;
}
#mid #bienvenidos h1 {
  font-family: "gsans";
}
#mid #bienvenidos div p {
  font-family: "quicksand";
  font-size: large;
}
#mid #bienvenidos div button {
  margin-left: 25%;
  border-radius: 10%;
  font-family: "gsans";
  font-size: large;
  background-color: #1897b2;
  width: 40%;
  height: 70%;
}

#carouselExampleControls {
  margin-right: 10%;
}
#carouselExampleControls .carousel-item img {
  width: 50%;
  height: 50%;
}

#destacados {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: #1897b2;
}

.producto {
  border: solid 1px black;
  display: flex;
  flex-direction: column;
  flex-basis: 33%;
  align-content: center;
}
.producto figure {
  align-self: center;
  width: 70%;
  height: 60%;
}
.producto figure img {
  margin-top: 10%;
  width: 12vw;
  height: 50%;
}
.producto figure figcaption {
  font-size: x-large;
  text-align: center;
}
.producto button {
  align-self: center;
  width: 50%;
  height: 20%;
  border-radius: 10%;
  font-family: "gsans";
  font-size: large;
}

section > h2 {
  border-bottom: dotted 0.1em black;
}

#support {
  margin-top: 15%;
  margin-bottom: 15%;
  margin-bottom: 15%;
  font-family: "kiona";
  display: flex;
  flex-direction: column;
}

#fTop {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: left;
  background-color: #e7684d;
}

#fBot {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #e55d40;
}/*# sourceMappingURL=styles.css.map */